.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.card-cover-img {
    text-align: center;
    margin-bottom: 20px;
}

.hidden-column {
    display: none;
  }